@media(max-width: 576px) {


    .nav div{
        display: none;
    }
.nav nav{
    position: relative;
    left: 200px;
    display: flex;
    gap: 20px;
}

.nav nav1{
    position: relative;
    right: 200px;
    /* display: flex; */
    /* gap: 20px; */
}
.OfferBanner div{
    text-align: center;
    /* gap: -20px; */
}

.seeoffers{
    text-align: center;
    /* position: relative;
    right: 200px;
    top: 100px; */
    /* justify-content: left; */
    margin-left: 0;
    padding-left: 0;
}
.store{
    font-size: 50px;
    position: relative;
    right:50px ;
    bottom: 20px;
}

.the{
    font-size: 20px;
    text-align: left;
    position: relative;
    right: 820px;
    top: 50px;
}
.co{
     /* text-align: left; */
    position: relative;
    right: 500px;
    top: 50px;
/* padding-right: 700px; */
}
.find{
 /* text-align: left; */
    position: relative;
    right: 820px;
    top: 50px;
}


.Category div{
    display: none;

}
.Category div1{
    position: relative;
    right: 450px;
}

.label1 div1{
    display: none;
}
.label1 div2{
position: relative;
right: 200px;
     
}
.Ma{
    position: relative;
    right: 500px;

}
.iPad{
     position: relative;
    right: 480px;
}
.iPhone{
       position: relative;
   right: 200px;
}

.latest{
    font-size: 30px;
    position: relative;
    right: 90px;  
    
}

.tak{
        font-size: 30px;
          position: relative;
    right: 90px;
    
}
.c1{
    /* text-align: left; */
    /* overflow: hidden; */
    /* flex-wrap: nowrap; */
}


.img1{
 gap: 50px;
}
.offer{
 gap: 80px;
 position: relative;
 left: 120px;

}
.special{
   gap: 80px;
 

}

.c3{

}
.acc{
     font-size: 30px;
          position: relative;
    right: 100px;
}
.e{
     font-size: 30px;
          position: relative;
    right: 100px;
}
.s{
    gap: 80px;
 position: relative;
 
 right: 40px;
}

.s2{
    gap: 80px;
 position: relative;
 
 left: 25px;
}
.s3{
     gap: 80px;
 position: relative;
 
 left: 25px;
}

.b1{
    position: relative;
    right: 130px;
}

.b2{

    position: relative;
    right: 130px;
}

.b3{

    position: relative;
    right: 130px;
}
.b4{

    position: relative;
    right: 130px;
}

.flex5{
    position: relative;
    right: 150px;
}

/* .flex7 section{
    display: none;
} */
.grey{
    display: none;
}



.flex81{
    position: relative;
    top: 50px;
    /* border-top: 1px solid black; */
/* width: 100px; */
}
.flex90{
    position: relative;
    bottom: 175px;
    right: -2px;
  /* border-top: 1px solid black; */
}

.flex82{
    position: relative;
  top: 30px;
  right: 296px;
    /* border-top: 1px solid black; */

}
.flex83{
    position: relative;
  right: 297px;
bottom: 7px;
  /* border-top: 1px solid black; */
}



.flex84{
    position: relative;
  right: 483px;
 top: 90px;
   /* border-top: 1px solid black; */

}



.flex85{
    position: relative;
  right: 654px;
 top: 108px;
   /* border-top: 1px solid black; */

}

.flex86{
    position: relative;
  right: 654px;
 top:78px;
   /* border-top: 1px solid black; */

}
.flex87{
    position: relative;
  right: 654px;
 top: 20px;
   /* border-top: 1px solid black; */

}


.flex88{
    position: relative;
  right: 845px;
 top: 160px;
   /* border-top: 1px solid black; */

}

.flex89{
    position: relative;
  right: 845px;
 top: 84px;
   /* border-top: 1px solid black; */

}


.flex9{
   white-space: wrap;
}

.a{
    position: relative;
    right: 315px;
    top: 20px;
   /* padding-top: 15px; */
}
/* .c9 div{
    position: relative;
    right: 50px;
}
.c9 nav{
     position: relative;
    right: 50px;
}
.cr div{
    position: relative;
    right: 50px;
} */



}